/* Styling of the header image and title */
.title {
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;

  font-size: 100px;
  font-family: cursive;
  color: rgba(255, 255, 255, 0.6);

  background: url(header.png) left repeat;
  padding: 10px;
}

/* Styling of navigation bar */
.navbar{
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  border-radius: 10px;
  padding: 20px;
}

nav li {
  list-style: none;
  text-transform: uppercase;
  font-size: 50px;
  font-family: fantasy;

  float: left;
  padding-right: 65px;
  padding-left: 65px;
}

/* Styling for each option in navigation bar*/
.yoda {
  width: 150px;
  height: 25px;
  padding: 10px 0 0 0;
  text-align: center;
  float: left;
  background: #d0d0c6;
  color: #787871;
  font: 12px Tahoma, sans-serif;
  text-decoration: none;

  -webkit-box-shadow: 5px 5px 5px #000;
  -moz-box-shadow:5px 5px 5px #000;
  box-shadow:5px 5px 5px #000;
}

.yoda:hover {
  font-weight: bold;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 5px 5px 9px #ccc;
  -moz-box-shadow: 5px 5px 9px #ccc;
  box-shadow: 5px 5px 9px #ccc;
}

/* Styling for image blocks */
.arts li {
  display: inline-block;
  list-style: none;
}

.arts li:nth-child(2n){
  float:right;
}
.arts li img {
  border: dotted 2px;
  height: auto;
  width: 600px;
}

.arts li img:hover {
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}